@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --header-height: 12vh;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  height: var(--header-height);
}

.page {
  height: calc(100vh - var(--header-height));
}
