@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --header-height: 16vh;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  height: var(--header-height);
}

.page {
  box-sizing: border-box;
  height: calc(100vh - var(--header-height));
  background-image: url('../img/main-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.off {
  visibility: visible;
}
