@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 60px;
  color: rgba(50, 50, 50);
}

.header-options {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
}

#cart-button {
  background-color: inherit;
  border: none;
  transition: all 0.4s;
}

#cart-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#cart-img {
  height: 35px;
  width: auto;
}